@use "@styles/base/variables.scss" as *;
@use "@styles/base/mixins.scss" as *;

.backupButton {
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  width: 75px;
  height: 75px;
  padding: $spacing-sm;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  @include glass-scrolled;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  .icon {
    font-size: 3rem;
    color: white;
    transition: filter 0.3s ease;
  }
}
